<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="nav-container">
        <div>
            <a href="{% url 'shop:index' %}">🏠 На головну</a>

        </div>
        <div>
            {% if not user.is_authenticated %}
                <a class="nav-auth" href="{% url 'shop:login' %}">Увійти</a>
                <a class="nav-auth" href="{% url 'shop:register' %}">Реєстрація</a>
            {% else %}
                <form class="logout" action="{% url 'shop:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout-button nav-auth">Вийти</button>
                </form>
            {% endif %}
        </div>
    </nav>

    <div class="edit-product-container container">
        <h1 class="text-center mb-4">Edit Product</h1>
        <form method="POST" enctype="multipart/form-data" class="edit-product-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </form>
    </div>

</body>
</html>
